<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Planning.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C725FD0A288EE4F600BA4D5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C725FD1B288F018800BA4D5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C725FD3A2899725700BA4D5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C79AF017287F7508000672B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C0E23A28E4D4AC00F0C4B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C0E24328E4D4AC00F0C4B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
